<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto">
	<activity android:name="DemoYoutube.Droid.Dependencies.VideoProviderActivity"></activity>
	<uses-sdk android:minSdkVersion="15" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-feature android:name="android.hardware.camera" />
	<uses-feature android:name="android.hardware.camera.autofocus" />
	<application android:label="$safeprojectname$" android:theme="@style/MyTheme"></application>
</manifest>