DemoYoutube/DemoYoutube.Droid/bin/
DemoYoutube/DemoYoutube.Droid/obj/
DemoYoutube/DemoYoutube.Windows/
DemoYoutube/DemoYoutube.iOS/bin/
DemoYoutube/DemoYoutube.iOS/obj/
DemoYoutube/DemoYoutube/bin/
DemoYoutube/DemoYoutube.WinPhone/
DemoYoutube/DemoYoutube/obj/
Youtube.zip
Youtube1.zip
YoutubePlayer_iOS/obj/
YoutubePlayer_iOS/bin/
